 <%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div class='media-body>'
         <ul class="list-group">
           <li class="list-group-item">
             <%= link_to "",[@list,item], method: :delete, remote: true,  class: 'glyphicon glyphicon-unchecked',id: "checkbox-#{item.id}" %>
              <body id: "strike-<%=item.id%>" ><%=item.name%></body>
               <span class="badge"><%=pluralize(item.days_left, 'day')%> left</span>
        </li>
    </ul>
  </div>
<%end%>